<configuration>
    <!-- Define o padrão de layout para as mensagens de log -->
    <property name="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n"/>

    <!-- Define um appender para saída no console (STDOUT) -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%message%n</pattern>
        </encoder>
    </appender>

    <!-- Configura o nível de log para INFO e define o appender STDOUT -->
    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
