<configuration>
    <!-- Define um appender para saída no console (STDOUT) -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <!-- Configura o nível de log para INFO e define o appender STDOUT -->
    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
